@charset "utf-8";
/* CSS Document */
body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑",Arial;
}
ul,ol{
	list-style:none;
}
img{
	border: 0;
}
a{
	text-decoration: none;
}
/*title*/
.titles{
    position: relative;
    width: 100%;
    z-index: 998;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
}
.titl{
    width: 1240px;
    margin: 0 auto;
}
.meizulg{
    float: left;
}
.meizulg a{
    position: relative;
    display: block;
    height: 80px;
    width: 150px;
}
.meizulg a img{
    max-width: 125px;
    margin-top: 28px;
}
.menue{
    float: left;
    margin-left: 30px;
    line-height: 80px;
}
.menue li{
    float: left;
    font-size: 14px;
    color: #999;
}
.menue_one{
    float: right;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    margin-top: 20px;
    display: flex;
}
.menue_one li{
    float: left;
    padding: 0 20px;
}
.menue_one li a{
   font-size: 12px;
   color: #666;
   transition: all .2s linear;
}
.menue_one li a:hover{
    color: #00c3f5;
}
.guanli{
    float: left;
    height: 40px;
    position: relative;
}
.guanli a span{
    display: inline-block;
    max-width: 72px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
}
.xiayu{
    display: block;
    width: 0px;
    height: 0px;
    border: 7px solid transparent;
    border-top-color: #666;
    position: absolute;
    left: 160px;
    top: 16px;
}
.menue_two{
    line-height: normal; 
    font-size: 12px;
    background-color: #fff;
    height: 0;
    border: 0;
    transition: height .2s linear,border-width .2s linear;
    display: flex;
    flex-direction: column;
   opacity: 0;
}
.menue_two li{
    display: list-item;
    text-align: -webkit-match-parent;
}
.menue_two li a{
    display: block;
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    color: #666;
    transition: all .2s linear;
}
.guanli{
    display: none;
}
.zhuce{
    /*display: none;*/
}
/*banner*/
.banner{
    width: 1240px;
    margin: 0 auto;
}
.banner_box{
    display: table;
    height: 360px;
    width: 100%;
    margin: 10px 0 30px;
    background-color: #fff;
}
.banner_box1{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
/*.boxa{
    display: none;
}*/
.boxb{
    display: none;
    margin-top: 120px;
}
.boxb .banner_box2{
     width: 100px;
    height: 114px;
    background-image: url(../img/gouwuche.png);
}
.banner_box2{
    display: inline-block;
    vertical-align: middle;
    width: 102px;
    height: 133px;
    background-image: url(../img/xiongmao.png);
    margin-right: 30px;
}
.banner_box3{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    color: #666;
}
.banner_box3one{
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 15px;
}
.banner_box3three{
    min-width: 56px;
    min-height: 34px;
    line-height: 34px;
    padding: 0 36px;
    color: #FFF;
    border-color: #00c3f5;
    background-color: #00c3f5;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    outline: 0;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.banner_box3three a{
    color: white;
}
.banner_box3three:hover{
    background-color: #40D2F8;
    border-color: #40D2F8;
}
/*footer*/
.footer{
    width: 100%;
    height: 247px;
    border-top: 1px solid #f1f1f1;
}
.banner_box3two{
    margin-bottom: 20px;
    font-size: 14px;
}
.foot{
    width: 1240px;
    height: 247px;
    margin:0 auto;
    background: white;
}
.fo{
    width: 1240px;
    height: 144px;
    border-bottom: 1px solid #f9f9f9;
    display: flex;
    justify-content: space-between;
}
.fo_samllone{
    width: 1000px;
    height: 68.6px;
    display: flex;
    padding-top: 48px;
}
.fo_samll{
    width: 150px;
    height: 69px;
    text-align: center;
    
}
.fo_samll a img{
    width: 50px;
    height: 39px;
}
.fo_samll span{
    display: block;
    font-size: 12px;
    line-height:30px;
    color: #babbc0;
}
.fo_samlltwo{
    width: 156px;
    height: 103px;
    float: right;
     padding-top: 40px;
}
.fo_samlltwo span:nth-child(1){
    color: #999;
    font-size: 12px;
    line-height: 30px;
    float: right;
}
.fo_samlltwo span:nth-child(2){
    color: #00c3f5;
    font-size: 20px;
    font-weight: 400;
    margin-top: -6px;
    line-height: 40px;
    float: right;

}
.fo_samlltwo a{
    height: 30px;
    padding: 0 16px;
    overflow: hidden;
    position: relative;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border-radius: 20px;
    margin-top: 3px;
    display: inline-block;
    font-size: 14px;
    background: #0bbbef;
    float: right;
}
.fo1{
    margin-top: 26px;
    
}
.fo1 a{
    font-size: 12px;
    color: #c6c8c5;
    width: 49px;
    height: 16px;
    padding-left: 16px;
    padding-right: 16px;
    border-right: 1px solid #f1f1f1;
    position: relative;
}
.fo1 a:nth-child(1){
    padding-left: 0px;
}
.fo1 a:hover{
    color:#6eb6eb;
}
.fo1 a i{
    font-size: 15px;
    position: absolute;
    left: 0px;
    top:1px;
    margin:0 15px;
}
.fo1 a i{
    color:red;
}
.fo1 a:last-child:hover{
    color: #99a7b5;
}
.fo1 a:last-child{
    padding-left: 40px;
}
.fo2{
    width: 962.94px;
    height: 34.8px;
    padding-top: 8px;
    position: relative;
}
.fo2 p{
    display: inline-block;
    font-size: 12px;
    color: #c6c8c5;
    line-height: 12px;
}
.fo2 span{
    display: inline-block;
}
.fo2 a{
    font-size: 12px;
    color: #c6c8c5;
    line-height: 12px;
}
.fo2 a:hover{
    color:#6eb6eb;
}
.fo2 span{
    font-size: 12px;
    color: #c6c8c5;
    line-height: 12px;
}
.fo2big{
    display: flex;
    justify-content: space-between;
}
.fos_samll{
    width: 157px;
    height: 27px;
    padding-top: 8px;
}
.fos_samll a{
    border-right: 1px solid #adadad;
    padding-right: 13px;
    padding-left: 13px

}
.fos_samll a:last-child{
    border-right: none;
}
.fos_samll a i{
    font-size: 20px;
    color: #adadad;
}
#icon:hover{
    color: #6fc749;
}
#icon1:hover{
    color: #ecc43a;
}
#icon2:hover{
    color: #ff6c6c;
}
