@charset "utf-8";
/* CSS Document */
body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑",Arial;
}
ul,ol{
	list-style:none;
}
img{
	border: 0;
}
a{
	text-decoration: none;
}
/*title*/
.titles{
	height: auto;
    padding-top: 28px;
    padding-bottom: 40px;
    margin: 0 auto;
    max-width: 1200px;
}
.meizulg{
	width: 125px;
	height: 24px;
	float: left;
	
}
.meizulg svg{
	display: block;
	width: 100%;
	height: 100%;
}
/*banner*/
.banner{
	width: 100%;
	height: 750px;
	background:url(../img/banner.png) no-repeat;
	background-size: cover;
	position: relative;
}
.min_form{
	width: 298px;
    position: absolute;
    top: 17%;
    right: 85px;
    background-color:white;
    padding: 35px 35px 10px;
    border-radius: 2px;
    height:430px;
    display: block;
}
.bigbox{
	width: 298px;
    position: absolute;
    top: 17%;
    right: 85px;
    background-color: white;
    padding: 35px 35px 10px;
    border-radius: 2px;
    height: 430px;
    display: none;
    text-align: center;
}
.one13{
    margin-top: -64px !important;
}
.one13 .spone{
   display: flex;
   justify-content: space-between;

}
.sptwo{
    width: 33px;
    height: 33px !important;
    background: red;
    border-radius: 50%;
    line-height: 33px;
}

.txt-box {
	margin-top: 50px;
    height: 33px;
    padding: 5px 0px;
    color: #666;
    font-size: 12px;
}
.title_ta{
	width: 300px;
	height: 24px;
	text-align: center;
	margin-top: 35px;
	font-size: 18px;
}
.title_ta a{
	font-size: 14px;
	color: #00a7ea;
}
.title_ta a:hover{
	color: #387aff;
}
.first_input{
	width: 276px;
    position: relative;
    padding: 0px 10px;
    height: 46px;
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 22px;
    border: 1px solid #dadada;
    outline: none;
    color: #474747;
    zoom: 1;
    overflow: hidden;
    border-radius: 2px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.first_input:hover{
	border: 1px solid blue;
}
/*redinput*/
#redinput{
	position: relative;
    height: 33px;
    display: table;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 26px;
    border: solid 1px #ffc2b3;
    background: #ffd1ca;
    border-radius: 2px;
    display: none;
}
#redinput_second{
	position: relative;
    height: 33px;
    display: table;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 26px;
    border: solid 1px #ffc2b3;
    background: #ffd1ca;
    border-radius: 2px;
    display: none;
}
#redinput span{
	color: #666;
    font-size: 12px;
    padding-right: 28px;
    padding-left: 28px;
    display: table-cell;
    vertical-align: middle;
}
#redinput_second span{
	color: #666;
    font-size: 12px;
    padding-right: 28px;
    padding-left: 28px;
    display: table-cell;
    vertical-align: middle;
}
#redinput .redinput_one{
	padding: 5px;
	width: 15px;
	border-radius: 50%;
	background: red;
	text-align: center;
	margin-left: 5px;
	position: absolute;
    top: 4px;
    left: 1px;
}
#redinput_second .redinput_second_one{
	padding: 5px;
	width: 15px;
	border-radius: 50%;
	background: red;
	text-align: center;
	margin-left: 5px;
	position: absolute;
    top: 4px;
    left: 1px;
}
.redinput_two{
	position: absolute;
    top: 8px;
    left: 62px;
}
#redinput_second .redinput_second_two{
	position: absolute;
    top: 8px;
    left: 84px;
}
.redinput_three{
	cursor: pointer;
	position: absolute;
    top: 8px;
    left: 248px;
    font-size: 16px;
}
.redinput_second_three{
	cursor: pointer;
	position: absolute;
    top: 8px;
    left: 248px;
    font-size: 16px;
}
.next-input{
	display: flex;
	align-items: center;
}
.first_input .next-input .sp{
	display: inline-block;
    width: 60px;
    height:46px;
    border-right: 1px solid #DDD;
    cursor: pointer;
    text-align: center;
}
.next-input input{
	line-height: 22px;
	height: 22px;
	vertical-align: middle;
    font-size: 14px;
    margin-bottom: 0 !important;
    width: 74%;
    text-indent: 8px;
    background-color: white;
    outline: none;
    border:none;
    vertical-align: middle;
    font-size: 14px;
    margin-bottom: 0 !important;
}
.ipt-cycode{
	margin-top: 10px;
	line-height: 22px;
	height: 22px;
	width: 60%;
    color: grey;
    text-align: center;
    cursor: pointer;
    text-indent: 0 !important;
}
.zysx {
	margin-bottom: 30px;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    display: flex;
}
.zysx p{
/*	width: 220px;*/
	font-size: 12px;
}
.zysx a{
	font-size: 12px;
	white-space: nowrap;
}
.zysx span{
	font-size: 12px;
}
.register a{
	font-size: 14px;
	color: #00a7ea;
}
.register a:hover{
	color: #387aff;
}
a.but{
	width: 300px;
    display: block;
    height: 46px;
    font-size: 14px;
    line-height: 46px;
    text-align: center;
    margin-bottom: 10px;
    *margin-bottom: 10px;
    outline: none;
    cursor: pointer;
    background-color: #32a5e7;
    color: #fff;
    border-radius: 4px;
    margin-top: 50px;
}
/*    display: none;*/

a.but:hover{
	background-color: #387aff;
}
/*mimajkuang*/
.passwd{
	width: auto;
    font-size: 14px;
    display: block;
    height: 46px;
    line-height: 46px;
    position: relative;
    padding: 0px 10px;
    border: 1px solid #dadada;
    outline: none;
    color: #474747;
    margin-top: 80px;
}
.passwd input{
	line-height: 22px;
    padding: 12px 0;
    height: 22px
}
.passwd:hover{
	border: 1px solid blue;
}
#text{
	display: none;
	float: left;
    width: 200px;
    position: absolute;
    outline: none;
    border: none;
}
#password{
	display: block;
	float: left;
    width: 200px;
    position: absolute;
    outline: none;
    border: none;

}
.passwd a{
	float: right;
}
#biyan{
	position: absolute;
	left: 253px;
	top: 0px;
	display: block;
}
#yanjing{
	font-size: 12px;
	display: none;
}
.yj{
	position: relative;
}
/*Flymefooter*/
.Flymefooter{
	width: 100%;
	height: 130px;
}
.footer-layer1{
	height: 60px;
   	width: 1000px;
   	margin: 24px auto 30px;
}
.footer-layer2{
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer-link{
	display: flex;
	align-items: center;
	float: left;
}
.footer-link a{
	font-size: 14px;
	color: black;
	padding: 0 8px;
	border-right: 1px solid black;
}
.footer-service{
	margin-left: 36px;
	float: left;
}
.footer-service-one{
	font-size: 14px;
	margin-right: 10px;
}
.footer-service-two{
	font-size: 14px;
	margin-right: 20px;
}
.footer-service-three{
	display: inline-block;
    *margin-top: 5px;
    _margin-top: 16px;
    height: 20px;
    line-height: 18px;
    width: 64px;
    color: white;
    background-color: #32a5e7;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    text-align: center;
}
.icon{
}
.icon a i{
	font-size: 20px;
	color: black;
	margin: 0 5px;
}
.icon-weibo:hover{
	color: red;
}
.icon-weixin:hover{
	color: green;
}
.icon-kongjian:hover{
	color: yellow;
}
.copyfooter{
	width: 1000px;
	height: 16px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.copyfooter span{
	font-size: 12px;
	color: #c2c6cb;
}
.copyfooter a{
	font-size: 12px;
	margin-right: 6px;
	color: black;
}
.copyfooter .gongan{
	background: url(../img/ghs.png) no-repeat;
	background-size: 15px 14px;
    padding-left: 18px;
    background-position-y: center;
    color: #c2c6cb;
}
.copyfooter .business{
	color: #c2c6cb;
}
.copyfooter .business:hover{
	color: black;
}